body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #ffffff ;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.dashboard-container {
  display: flex;
  position: relative;
}

.mainWindow{
  width: 200%;
  padding-top: 40px;
}

.appbar {
  background-color: #008080;
  color: white;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.appbar-content {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  /* margin-left: -30px; */
  margin-right: 20px;
  background-color: #008080;
  width: 100px;
  float: left;
  border: none;
  border-radius: 10%;
}

.menu-icon:hover{
  background-color: #0eadad;
}

.logo {
  height: 50px; /* Reduced logo height */
  width: auto;
  margin-right: 20px;
}

.app-name {
  font-size: 40px; /* Reduced font size */
  width: fit-content;
  align-items: center;
  text-align: center;
}

.logout-button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-left: auto;
  margin-right: 20px;
  width: 130px;
  font-size: 20px;
}

.logout-button:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

.sidebar {
  width: 250px;
  background-color: #24a5a5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -250px;
  transition: left 0.3s ease;
  height: 100%;
  margin-top: -20px;
  z-index: 999;
  height: 106vh;
  padding-top: 50px;
}

.sidebar.open {
  left: 0;
}

.sidebar-item {
  margin: 20px 0;
  font-size: 18px;
  color: white;
}

.sidebar-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.sidebar-item a:hover {
  color: #e0e0e0;
}

.sidebar-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.main-content {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.slide{
  height: auto;
  width: 100%;
  padding-top: 30px;
}

.SlideImage {
  height: 100vh;
  object-fit: cover;
}

.crsl {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}
.aboutUs #feedback{
  margin-top: -1%;
}
.aboutUs>h1{
  color: #008080;
  font-weight: 700;
  font-size: 50px;
}
.abtPara{
  margin: 10px 70px 30px 70px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}
p{
  text-align: center;
}
.impact{
  /* background-color: rgb(227, 222, 222); */
  background-color: #c0d4ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  padding-bottom: 60px;
}
.impact>h1{
  font-size: 50px;
  color: black;
}

.impactTable{
  width: 100%;
  background-color: aquamarine;
  padding-left: 100px;
}

.row1{
  padding-left: 50px;
  align-items: center;
  justify-content: space-around;
  font-size: 70px;
}

.row2{
  font-size: 20px;
  padding-left: 50px;
}

.row3{
  align-items: center;
  font-size: 20px;
}

td{
  padding: 10px;
  padding-left: 60px;
  align-items: center;
}
th{
  padding-left: 60px;
  padding-top: 30px;
}
